@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  background: #eee;
  color: #3f434a;
}

.container {
  margin: 20px auto;
  width: 270px;
  background: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

#timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  letter-spacing: 3px;
  border-radius: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.btn {
  width: 80px;
  height: 45px;
  line-height: 45px;
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
}

.inactive {
  opacity: 0.6;
}
